# UNIDAD 20 - PANDAS 2 

Utilizando los conceptos aprendidos en el módulo 20 - Datos con
Pandas II, resolver el siguiente ejercicio.

Desarrollar una aplicación que realice la siguientes tareas:

1. Conectarse a la [url](http://winterolympicsmedals.com/medals.csv) que contiene el archivo CSV de medallas
2. Descargar los datos y obtener un sub dataset que contenga a
todas las medallas de oro (Gold) Estados Unidos (USA) a partir del
año 1950.
3. Crear una base de datos “olympics” en SQLite y la tabla “medals”.
4. Guardar en la base de datos. los datos generados en el sub
dataset.
5. Consultar la base de datos y validar que los datos se hayan
cargado correctamente.

---

1. Conectarse a la [url](http://winterolympicsmedals.com/medals.csv) que contiene el archivo CSV de medallas

In [15]:
import pandas as pd 

url_csv_medallas = 'http://winterolympicsmedals.com/medals.csv'

df_medallas = pd.read_csv(url_csv_medallas)

df_medallas

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

---

2. Descargar los datos y obtener un sub dataset que contenga a
todas las medallas de oro (Gold) Estados Unidos (USA) a partir del
año 1950.

In [16]:
df_medallas_desde_1950 = df_medallas[(df_medallas['Medal'] == 'Gold') 
                         & (df_medallas['Year'] >= 1950)]
                         
df_medallas_desde_1950

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
254,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold
258,1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
259,1952,Oslo,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
262,1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Gold
266,1952,Oslo,Skiing,Cross Country S,FIN,4x10km relay,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

---

3. Crear una base de datos “olympics” en SQLite y la tabla “medals”.

In [17]:
import sqlite3

conexion = sqlite3.connect("olympics.db")

query_create_table = """ CREATE TABLE IF NOT EXISTS medals(
                            id integer primary key autoincrement,
                            Year int,	
                            City text,	
                            Sport text,	
                            Discipline text,	
                            NOC text,	
                            Event text,	
                            'Event gender' text,	
                            Medal text    
                        )
                     """
conexion.execute(query_create_table)

---

4. Guardar en la base de datos. los datos generados en el sub
dataset.

In [18]:
df_medallas_desde_1950.to_sql('medals', con=conexion, if_exists='replace', index=False)

691

---

5. Consultar la base de datos y validar que los datos se hayan
cargado correctamente.

In [21]:
df = pd.read_sql_query('SELECT * FROM medals', con=conexion)
df

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1952,Oslo,Skiing,Alpine Skiing,AUT,downhill,W,Gold
1,1952,Oslo,Skiing,Alpine Skiing,AUT,slalom,M,Gold
2,1952,Oslo,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
3,1952,Oslo,Skiing,Cross Country S,FIN,10km,W,Gold
4,1952,Oslo,Skiing,Cross Country S,FIN,4x10km relay,M,Gold
...,...,...,...,...,...,...,...,...
686,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
687,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
688,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
689,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
690,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

---